* {
  max-width: 100vw !important; }

.dn {
  display: none !important; }

body {
  margin: 0;
  padding: 0;
  width: 100%; }

ul {
  list-style: none;
  padding-inline-start: 0; }

#background {
  background: url(../images/Home-page/Mobile-version/background.jpg) no-repeat; }
  @media screen and (min-width: 768px) {
    #background {
      background: none; } }

@media screen and (min-width: 768px) {
  #mobile-nav {
    display: none; } }
#mobile-nav i {
  margin: 10px; }

#desktop-nav {
  display: none; }
  @media screen and (min-width: 768px) {
    #desktop-nav {
      display: block;
      background: white; }
      #desktop-nav #social-personal-links {
        margin-block: 0;
        display: flex;
        justify-content: flex-end;
        background: #3d3d3d; }
        #desktop-nav #social-personal-links li {
          color: white;
          padding: 0.8rem 1rem;
          font-family: 'Lato', sans-serif;
          cursor: pointer; }
        #desktop-nav #social-personal-links li:last-child {
          padding-right: 10rem; } }

#sections-pages-links {
  display: flex;
  align-items: center;
  justify-content: flex-end; }
  #sections-pages-links a {
    text-decoration: none;
    color: gray; }
  #sections-pages-links img {
    width: 8vw; }
  #sections-pages-links li {
    padding: 0 2.5rem;
    font-weight: bold; }
  #sections-pages-links li:first-child {
    margin: 0 auto; }
  #sections-pages-links li:last-child {
    margin-right: auto;
    margin-left: auto;
    padding: 1rem;
    border: solid #d84d40;
    border-width: 5px;
    border-radius: 5px; }
  #sections-pages-links li a:hover {
    color: #d84d40; }

#about {
  background: #f9f9f9;
  display: flex;
  flex-direction: column; }
  #about h1 {
    text-align: center;
    font-family: 'COCOGOOSE', sans-serif;
    color: #ec5242;
    font-size: 1.8rem;
    font-weight: 600;
    margin-block-start: 0; }
    @media screen and (min-width: 768px) {
      #about h1 {
        margin-block-start: 3rem;
        font-size: 2.5rem;
        padding: 0 24rem;
        margin-block-end: 1.5rem;
        line-height: 1.2; } }
  #about p {
    text-align: center;
    font-family: 'Lato', sans-serif;
    padding: 0 5rem;
    line-height: 1.8; }
  #about hr {
    display: none; }
    @media screen and (min-width: 768px) {
      #about hr {
        display: block;
        width: 2vw;
        height: 3px;
        background: #ec524287;
        border: none;
        margin-block-end: 3rem; } }
  #about #welcome-sentence {
    font-family: 'Lato', sans-serif;
    color: #d84d40;
    font-weight: 500;
    font-size: 30px; }
    @media screen and (min-width: 768px) {
      #about #welcome-sentence {
        display: none; } }
  #about #mobile-description {
    background: white;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    background: white;
    padding: 30px 15px;
    width: 85vw;
    margin: auto;
    border-radius: 4px; }
    @media screen and (min-width: 768px) {
      #about #mobile-description {
        display: none; } }
  #about #desktop-description {
    display: none; }
    @media screen and (min-width: 768px) {
      #about #desktop-description {
        display: block;
        background: white;
        font-family: 'Lato', sans-serif;
        font-size: 18px;
        padding: 50px;
        width: 75vw;
        margin: auto;
        border-radius: 4px; } }
  #about #contact-us {
    font-family: 'Lato', sans-serif; }
    @media screen and (min-width: 768px) {
      #about #contact-us {
        margin-block: 5rem; } }
    #about #contact-us span {
      display: block;
      text-decoration: underline;
      color: black;
      cursor: pointer;
      font-weight: bold; }

footer {
  display: flex;
  flex-direction: column;
  align-items: center; }

#logo-section h2 {
  text-align: center;
  width: 50vw;
  margin: auto;
  margin-block-start: 1rem;
  line-height: 1.5; }
#logo-section hr {
  width: 7vw;
  height: 1px;
  background: #ec5242;
  border: none; }
#logo-section p {
  text-align: center;
  color: #000000c7;
  font-weight: 500;
  padding: 0 6rem; }
#logo-section img {
  display: block;
  width: 50vw;
  margin: auto;
  border: 1px solid #808080bf;
  padding: 4% 16%;
  margin-block-end: 2rem; }
  @media screen and (min-width: 768px) {
    #logo-section img {
      width: 30vw;
      margin-block-end: 4.5rem;
      margin-block-start: 3rem; } }

#previous-events {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #808080bf;
  width: 100%; }
  @media screen and (min-width: 768px) {
    #previous-events {
      flex-flow: row wrap;
      justify-content: center; } }
  #previous-events h2 {
    text-align: center;
    margin-block-start: 1rem; }
    @media screen and (min-width: 768px) {
      #previous-events h2 {
        width: 100%; } }
  #previous-events hr {
    width: 7vw;
    height: 1px;
    background: #ec5242;
    border: none; }
  #previous-events p {
    text-align: center;
    color: #000000c7;
    font-weight: 500;
    padding: 0 4.5rem; }
    @media screen and (min-width: 768px) {
      #previous-events p {
        width: 100%; } }
  #previous-events #event1 {
    background: url(../images/Home-page/Mobile-version/event1.png) no-repeat center;
    background-size: contain; }
  #previous-events #event2 {
    background: url(../images/Home-page/Mobile-version/event2.png) no-repeat center;
    background-size: contain;
    margin-top: 1.5rem;
    margin-bottom: 3rem; }
  #previous-events #event1, #previous-events #event2 {
    height: 200px;
    width: 80vw;
    opacity: 0.5;
    cursor: pointer; }
    @media screen and (min-width: 768px) {
      #previous-events #event1, #previous-events #event2 {
        width: 30vw;
        margin: 2rem 1rem 4rem 1rem; } }

#partners {
  background: #414246; }
  @media screen and (min-width: 768px) {
    #partners {
      display: none; } }
  #partners h2 {
    text-align: center;
    color: white;
    margin-block-start: 1rem; }
  #partners hr {
    width: 7vw;
    height: 1px;
    background: #ec5242;
    border: none; }
  #partners ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center; }
    #partners ul li img {
      width: 26vw; }
  #partners a {
    display: block;
    font-size: 24px;
    text-align: center;
    line-height: 1.2;
    font-family: 'Lato', sans-serif;
    text-decoration: underline;
    margin-block: 1.5rem;
    color: white;
    border: none;
    cursor: pointer; }
    @media screen and (min-width: 768px) {
      #partners a {
        display: none; } }

#copyright {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 2.5rem 0; }
  @media screen and (min-width: 768px) {
    #copyright {
      background: #414246; } }
  #copyright img {
    margin-left: 2.5rem;
    width: 10vw; }
  #copyright p {
    margin-left: auto;
    padding: 0 2.5rem; }
    @media screen and (min-width: 768px) {
      #copyright p {
        font-family: 'Lato', sans-serif;
        font-size: 24px;
        color: white; } }
    #copyright p a {
      margin-right: 10px;
      text-decoration: none;
      color: green; }

/*# sourceMappingURL=about.css.map */
