@import url("https://fonts.cdnfonts.com/css/cocogoose");
@import url("https://fonts.cdnfonts.com/css/Lato");

* {
  max-width: 100vw !important;
}

.dn {
  display: none !important;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Lato', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'COCOGOOSE', sans-serif;
}

h1 {
  background-image: url("../images/general/text-bg.jpg");
  background-size: 50%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 768px) {
  h1 {
    background: none;
    -webkit-text-fill-color: #ec5242;
  }
}

.no-scroll {
  overflow: hidden;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

#background {
  background: url(../images/general/background.jpg) no-repeat;
}

@media screen and (min-width: 768px) {
  #background {
    background: none;
  }
}

#about {
  background: #f9f9f9;
  display: flex;
  flex-direction: column;
}

#about h1 {
  text-align: center;
  font-family: 'COCOGOOSE', sans-serif;
  color: #ec5242;
  font-size: 1.8rem;
  font-weight: 600;
  margin-block-start: 0;
}

@media screen and (min-width: 768px) {
  #about h1 {
    margin-block-start: 3rem;
    font-size: 2.5rem;
    width: 46vw;
    margin: 2.5rem auto;
    margin-block-end: 1.5rem;
    line-height: 1.2;
  }
}

#about p {
  text-align: center;
  font-family: 'Lato', sans-serif;
  padding: 0 5rem;
  line-height: 1.8;
}

#about hr {
  display: none;
}

@media screen and (min-width: 768px) {
  #about hr {
    display: block;
    width: 2vw;
    height: 3px;
    background: #ec524287;
    border: none;
    margin-block-end: 3rem;
  }
}

#about #welcome-sentence {
  font-family: 'Lato', sans-serif;
  color: #d84d40;
  font-weight: 500;
  font-size: 30px;
}

@media screen and (min-width: 768px) {
  #about #welcome-sentence {
    display: none;
  }
}

#about #mobile-description {
  background: white;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  padding: 30px 15px;
  width: 85vw;
  margin: auto;
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  #about #mobile-description {
    display: none;
  }
}

#about #desktop-description {
  display: none;
}

@media screen and (min-width: 768px) {
  #about #desktop-description {
    display: block;
    background: white;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    padding: 50px;
    width: 75vw;
    margin: auto;
    border-radius: 4px;
  }
}

#about #contact-us {
  font-family: 'Lato', sans-serif;
}

@media screen and (min-width: 768px) {
  #about #contact-us {
    margin-block: 5rem;
  }
}

#about #contact-us span {
  display: block;
  text-decoration: underline;
  color: black;
  cursor: pointer;
  font-weight: bold;
}

#copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2.5rem 0;
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  #copyright {
    background: #414246;
    gap: 2rem;
  }
}

#copyright img {
  width: 60px;
}

@media screen and (min-width: 768px) {
  #copyright img {
    width: 90px;
  }
}

#copyright p {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  #copyright p {
    color: white;
    font-size: 24px;
  }
}

#copyright p a {
  margin-right: 5px;
  text-decoration: none;
  color: green;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer #previous-events {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #808080bf;
  width: 100%;
}

@media screen and (min-width: 768px) {
  footer #previous-events {
    flex-flow: row wrap;
    justify-content: center;
  }
}

footer #previous-events h2 {
  text-align: center;
  margin-block-start: 1rem;
}

@media screen and (min-width: 768px) {
  footer #previous-events h2 {
    width: 100%;
  }
}

footer #previous-events hr {
  width: 7vw;
  height: 1px;
  background: #ec5242;
  border: none;
}

footer #previous-events p {
  text-align: center;
  color: #000000c7;
  font-weight: 500;
  padding: 0 4.5rem;
}

@media screen and (min-width: 768px) {
  footer #previous-events p {
    width: 100%;
  }
}

footer #previous-events #event1 {
  background: url(../images/About-page/event1.png) no-repeat center;
  background-size: contain;
}

footer #previous-events #event2 {
  background: url(../images/About-page/event2.png) no-repeat center;
  background-size: contain;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

footer #previous-events #event1,
footer #previous-events #event2 {
  height: 200px;
  width: 80vw;
  opacity: 0.5;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  footer #previous-events #event1,
  footer #previous-events #event2 {
    width: 30vw;
    margin: 2rem 1rem 4rem 1rem;
  }
}

footer #partners {
  background: #414246;
}

@media screen and (min-width: 768px) {
  footer #partners {
    display: none;
  }
}

footer #partners h2 {
  text-align: center;
  color: white;
  margin-block-start: 1rem;
}

footer #partners hr {
  width: 7vw;
  height: 1px;
  background: #ec5242;
  border: none;
}

footer #partners ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

footer #partners ul li img {
  width: 26vw;
}

footer #partners a {
  display: block;
  font-size: 24px;
  text-align: center;
  line-height: 1.2;
  font-family: 'Lato', sans-serif;
  text-decoration: underline;
  margin-block: 1.5rem;
  color: white;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  footer #partners a {
    display: none;
  }
}

header #desktop-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  header #desktop-nav {
    display: block;
    background: white;
  }

  header #desktop-nav #sections-pages-links li {
    padding: 0 2.5rem;
    font-weight: bold;
  }

  header #desktop-nav #social-personal-links {
    margin-block: 0;
    display: flex;
    justify-content: flex-end;
    background: #3d3d3d;
  }

  header #desktop-nav #social-personal-links li {
    color: white;
    padding: 0.8rem 1rem;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
  }

  header #desktop-nav #social-personal-links li:last-child {
    padding-right: 10rem;
  }

  header #desktop-nav #sections-pages-links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  header #desktop-nav #sections-pages-links a {
    text-decoration: none;
    color: gray;
  }

  header #desktop-nav #sections-pages-links img {
    width: 12vw;
  }

  header #desktop-nav #sections-pages-links li:first-child {
    margin: 0 auto;
  }

  header #desktop-nav #sections-pages-links li:last-child {
    margin-right: auto;
    margin-left: auto;
    padding: 1rem;
    border: solid #d84d40;
    border-width: 5px;
    border-radius: 5px;
  }

  header #desktop-nav #sections-pages-links li a:hover {
    color: #d84d40;
  }
}

@media screen and (min-width: 768px) {
  header #mobile-nav {
    display: none;
  }
}

header #mobile-nav ul {
  width: auto;
  padding: 0 6rem;
  margin-block-start: 0;
}

header #mobile-nav ul li {
  width: auto;
  padding: 0 0.5rem 0.6em 0.5rem;
  font-size: 24px;
  border-bottom: 1px solid white;
  margin: 1.5rem 0;
}

header #mobile-nav ul li a {
  width: auto;
  text-decoration: none;
  color: gainsboro;
}

header #mobile-nav i {
  margin: 0.6rem 2.5rem;
  color: gray;
}

header #mobile-nav .dn {
  display: none;
}

header .style-popup-menu {
  height: 100vh;
  background: #5e565e;
  display: flex;
  flex-direction: column;
}
